/*************************************************
This starter template may be a bit out of day
**************************************************

Website Name: Blog: Joel-Anderson-Tohora-2025
Website URL: #
Website Author: Joel Anderson
Author URL:
Copyright 2025. All Rights Reserved.

NOTE: Color Guide

***************
Primary Color - #
Secondary Color - #
Light mode - #
Dark mode - #

*************************************************

NOTE: Type Guide

***************
Heading font -
Body font -

NOTE: Debugging Tools

***************
Note sure what this is
border: 1px solid #fff;


*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ----------- 
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------------------------------------
------------------------------------------------
1. Variables
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/
h1 {
  font-family: monospace;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

h2 {
  font-family: monospace;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

h3 {
  font-family: monospace;
  font-size: 1rem;
  padding-bottom: 2rem;
}

body {
  font-family: monospace;
  background: bisque;
}

p {
  padding-bottom: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: monospace;
  font-size: 1rem;
  position: sticky;
  top: 20px;
}

header {
  padding: 0.5rem 0 2rem 0;
}

button {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

img {
  padding-bottom: 1rem;
}
/*----------------------------------------------
------------------------------------------------
2. Header & Nav Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
3. Main Body Styles
------------------------------------------------
----------------------------------------------*/
.italics {
  font-style: italic;
}
.container {
  padding: 0 5rem 0 5rem;
}
.header-img {
  width: 8rem;
  height: auto;
}

.highlight-text {
  background-color: green;
  margin: 0 0 0 0.5rem;
  padding: 0.25rem;
}

.hero-content {
  padding: 0 0 2rem 0;
}

.recent-content {
  display: flex;
  border: 2px solid green;
  padding: 25px;
  margin-top: 20px;
  max-width: fit-content;
  border-radius: 22px;
}

.text-content {
}

.footer-content {
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.centered {
  width: 50%;
  margin: 0 auto;
}
#hero {
  padding: 2rem 0 2rem 0rem;
}

#recent-blog-posts {
  padding: 2rem 0 2rem 0rem;
}

#blog-hero-image {
  postion: absolute;
  left: 50px;
  right: auto;
}

#recent-image {
  padding: 2rem;
  width: 40%;
  height: auto;
}

#header-img {
  width: 4rem;
  height: auto;
}

#footer-img {
  width: 4rem;
  height: auto;
}
/*----------------------------------------------
------------------------------------------------
6. Footer Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
7. Comments & Form Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
8. Generic Styles
------------------------------------------------
- ---------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
8. Media Queries
------------------------------------------------
- ---------------------------------------------*/
/* mobile */
@media (max-width: 480px) {
  .container {
    padding: 0 2rem 0 2rem;
  }

  #recent-image {
    width: 90%;
    height: auto;
  }

  .recent-content {
    display: grid;
  }

  .footer-content {
    padding: 2rem 0 0 0;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  #footer-img {
    display: none;
  }
}

/* tablets */
@media (max-width: 768px) {
}

/* small laptops */
@media (max-width: 1024px) {
}
