/*************************************************
This starter template may be a bit out of day
**************************************************

Website Name: Blog: Joel-Anderson-Tohora-2025
Website URL: #
Website Author: Joel Anderson
Author URL:
Copyright 2025. All Rights Reserved.

NOTE: Color Guide

***************
Primary Color - #
Secondary Color - #
Light mode - #
Dark mode - #

*************************************************

NOTE: Type Guide

***************
Heading font -
Body font -

NOTE: Debugging Tools

***************
Note sure what this is
border: 1px solid #fff;


*************************************************/

/************************************************
*************************************************
0. CSS Reset ------------------------ 
1. Universal Styles -----------------
2. Header & Nav Styles -------------- 
3. Main Body Styles ----------------- 
4. Sidebar Styles ------------------- 
5. Widget Styles --------------------
6. Footer Styles -------------------- 
7. Comments & Form Styles ----------- 
8. Generic Styles ----------- 
*************************************************
************************************************/

/*----------------------------------------------
------------------------------------------------
0. CSS Reset
------------------------------------------------
----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*----------------------------------------------
------------------------------------------------
1. Variables
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/
h1 {
  font-family:monospace;
  font-size: 8rem;
}

body {
  font-family:monospace;
}
/*----------------------------------------------
------------------------------------------------
2. Header & Nav Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
3. Main Body Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
6. Footer Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
7. Comments & Form Styles
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
8. Generic Styles
------------------------------------------------
- ---------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
8. Media Queries
------------------------------------------------
- ---------------------------------------------*/
